### Data Cleaning Tools in Python Using NumPy and Pandas

---

1. **`drop` column**:
   - **Purpose**: Removes one or more unwanted columns from a DataFrame.
   - **Example**:  
     ```python
     df.drop(columns=['column1'], inplace=True)
     ```
   - **Notes**: Essential for removing irrelevant data to improve focus and efficiency in analysis.

2. **`drop_duplicates`**:
   - **Purpose**: Eliminates duplicate rows from a DataFrame.
   - **Example**:
     ```python
     df.drop_duplicates(inplace=True)
     ```
   - **Notes**: Reduces redundancy in data, improving accuracy and consistency.

3. **`dropna`**:
   - **Purpose**: Deletes rows or columns containing missing values.
   - **Example**:
     ```python
     df.dropna(how='any', inplace=True)
     ```
   - **Notes**: Useful when handling datasets with missing data that cannot be easily imputed or filled.

4. **`fillna`**:
   - **Purpose**: Replaces missing values with specified values or methods.
   - **Example**:
     ```python
     df['column'].fillna(0, inplace=True)
     ```
   - **Notes**: Effective for filling `NaN` values with averages, medians, or other suitable replacements.

5. **`np.where`**:
   - **Purpose**: Applies conditions to create new values or filter data.
   - **Example**:
     ```python
     df['status'] = np.where(df['age'] > 18, 'Adult', 'Minor')
     ```
   - **Notes**: Useful for conditional logic; can simplify categorization of data based on conditions.

6. **`replace`**:
   - **Purpose**: Replaces specified values with other values.
   - **Example**:
     ```python
     df['column'].replace('old_value', 'new_value', inplace=True)
     ```
   - **Notes**: Frequently used to standardize inconsistent or erroneous data entries.

7. **`str.split`**:
   - **Purpose**: Splits strings in a column based on a specified separator.
   - **Example**:
     ```python
     df['first_name'] = df['full_name'].str.split(' ').str[0]
     ```
   - **Notes**: Allows splitting data for easier access or categorization.

8. **`str.strip`**:
   - **Purpose**: Removes unwanted whitespace from strings.
   - **Example**:
     ```python
     df['column'] = df['column'].str.strip()
     ```
   - **Notes**: A simple way to clean up data entries with leading or trailing spaces.

9. **`.apply`**:
   - **Purpose**: Applies a function to each element, row, or column.
   - **Example**:
     ```python
     df['length'] = df['text'].apply(len)
     ```
   - **Notes**: Flexible for complex transformations across DataFrames.

10. **`.apply(lambda x:)**:
    - **Purpose**: Uses a lambda function for concise, one-line transformations.
    - **Example**:
      ```python
      df['uppercase'] = df['text'].apply(lambda x: x.upper())
      ```
    - **Notes**: Commonly used to modify values quickly without defining separate functions.

11. **`np.nan`**:
    - **Purpose**: Represents missing data in the dataset.
    - **Example**:
      ```python
      df['column'].replace('missing', np.nan, inplace=True)
      ```
    - **Notes**: Essential for identifying, replacing, or imputing missing values in data cleaning.

12. **`formatting`**:
    - **Purpose**: Adjusts how values are displayed, making data easier to read and interpret.
    - **Example**:
      ```python
      df['percentage'] = df['score'].apply(lambda x: f"{x:.2%}")
      ```
    - **Notes**: Use `formatting` to standardize presentation, especially in reports or notebooks.

---

These tools collectively enable data cleaning in Python, helping transform raw data into a more usable, consistent, and accurate format for analysis.n Python, helping transform raw data into a more usable, consistent, and accurate format for analysis.

In [1]:
# importing major libraries 

import pandas as pd 
import numpy as np

In [2]:
df = pd.read_excel('Customer Call List.xlsx')

In [3]:
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Useful_Column
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No,True
1,1002,Abed,Nadir,123/643/9775,93 West Main Street,No,Yes,False
2,1003,Walter,/White,7066950392,298 Drugs Driveway,N,NaN,True
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y,True
4,1005,Jon,Snow,876|678|3469,123 Dragons Road,Y,No,True
5,1006,Ron,Swanson,304-762-2467,768 City Parkway,Yes,Yes,True
6,1007,Jeff,Winger,NaN,1209 South Street,No,No,False
7,1008,Sherlock,Holmes,876|678|3469,98 Clue Drive,N,No,False
8,1009,Gandalf,NaN,N/a,123 Middle Earth,Yes,NaN,False
9,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No,True
10,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No,True
11,1012,Harry,...Potter,7066950392,2394 Hogwarts Avenue,Y,NaN,True
12,1013,Don,Draper,123-543-2345,2039 Main Street,Yes,N,False
13,1014,Leslie,Knope,876|678|3469,343 City Parkway,Yes,No,False
14,1015,Toby,Flenderson_,304-762-2467,214 HR Avenue,N,No,False
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,N,False
16,1017,Michael,Scott,123/643/9775,"121 Paper Avenue, Pennsylvania",Yes,No,False
17,1018,Clark,Kent,7066950392,3498 Super Lane,Y,NaN,True
18,1019,Creed,Braton,N/a,N/a,N/a,Yes,True
19,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N,True
20,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N,True

In [4]:
# dropping duplicate entries 

df.drop_duplicates(inplace=True)

In [5]:
# working on inconsistency problems in dataset

In [6]:
df.Last_Name = df.Last_Name.str.strip('/._')

In [7]:
# Editing and formatting phone number 

df.Phone_Number = df.Phone_Number.str.replace('[^a-zA-Z0-9]','')

C:\Users\Anshum Banga\AppData\Local\Temp\ipykernel_492\3528350137.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  df.Phone_Number = df.Phone_Number.str.replace('[^a-zA-Z0-9]','')

In [8]:
df.Phone_Number = df.Phone_Number.apply(lambda x: str(x))
df.Phone_Number = df.Phone_Number.apply(lambda x: x[0:3]+'-'+x[3:6]+'-'+x[6:]).str.rstrip('--')

In [9]:
# checking and converting null values in Phone number

In [10]:
df.Phone_Number.isnull().sum()

0

In [11]:
df.Phone_Number = np.where(df.Phone_Number=='nan',np.nan,df.Phone_Number)
df.Phone_Number = np.where(df.Phone_Number=='Na',np.nan,df.Phone_Number)

In [12]:
df.Phone_Number.isnull().sum()

7

In [13]:
# dropping unneccessary columns 

df.drop('Not_Useful_Column',axis=1,inplace=True)

In [14]:
# working on inconsistency problems in Paying Customer and Do_Not_Contact

df['Paying Customer'] = np.where(df['Paying Customer']=='N','No',df['Paying Customer'])
df['Paying Customer'] = np.where(df['Paying Customer']=='Y','Yes',df['Paying Customer'])

df.Do_Not_Contact = np.where(df.Do_Not_Contact=='N','No',df.Do_Not_Contact)
df.Do_Not_Contact = np.where(df.Do_Not_Contact=='Y','Yes',df.Do_Not_Contact)

In [15]:
# replacing inconsitencies into values

df['Paying Customer'].value_counts()

Yes    13
No      6
N/a     1
Name: Paying Customer, dtype: int64

In [16]:
df['Paying Customer'] = np.where(df['Paying Customer']=='N/a','Yes',df['Paying Customer'])

In [17]:
# Working with address 

df[['Street Adress','State','Zipcode']] = df.Address.str.split(',',expand=True)

In [18]:
# filling null values 

df.Do_Not_Contact.fillna('No',inplace=True)

In [19]:
# dropping rows which doesn't have phone number 

df.dropna(subset='Phone_Number',inplace=True)

In [20]:
# removing Do_Not_Contact = Yes

for x in df.index:
    if df.loc[x,'Do_Not_Contact']=='Yes':
        df.drop(x,inplace=True)

In [21]:
# resetting index 

df.reset_index(drop='index',inplace=True)

In [22]:
# Saving Clean dataset 

df.to_csv('customer_list_clean.csv',index=False)

I'm **Anshum Banga**, a Data Scientist and Trainer with expertise in Python, machine learning, and data visualization. I specialize in Matplotlib, Power BI, and Tableau, helping learners develop practical data skills. Connect with me on LinkedIn(www.linkedin.com/in/anshumbanga).